.roadmap {
	display: flex;
	flex-direction: column;
	padding-bottom: 6rem;

	&__block {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 4rem;
		&-row {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 1rem;
		}

		&-text {
			display: flex;
			flex-direction: column;
			justify-content: center;
			width: 30%;
			gap: 1rem;
			padding: 0.875rem;

			&-img {
				width: 30px;
				height: 30px;
			}
		}

		&-step {
			&-desc {
				font-size: 30px;
				padding: 1.5rem 2rem;
				background: var(--button-color);
				border-radius: 0.75rem;
			}
		}

		&-images {
			&-image {
				width: 315px;
				height: 150px;
				border-radius: 1rem;
			}
		}
	}
}

@media screen and (max-width: 992px) {
	.roadmap {
		&__block {
			&-images {
				&-image {
					width: 200px;
				}
			}

			&-step {
				&-desc {
					font-size: 25px;
					padding: 1rem 1.5rem;
					border-radius: 0.75rem;
				}
			}
		}
	}
}

@media screen and (max-width: 576px) {
	.roadmap {
		&__block {
			&-row {
				display: flex;
				flex-direction: column;
				gap: 2rem;
				padding: 2rem 1.5rem;
			}

			&-text {
				width: 100%;
				align-items: center;

				&-desc {
					text-align: center;
				}
			}
		}
	}
}
