.services {
	background: var(--accent-color);
	padding-bottom: 6rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	&__headline {
		&-main {
			color: var(--title-text-color);
		}
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
		gap: 4rem;
		margin-bottom: 6rem;

		&-item {
			display: flex;
			flex-direction: column;
			gap: 0.75rem;

			&-desc {
				color: var(--main-text-color);
			}

			&-icon {
				width: 42px;
				height: 42px;
			}

			&-more {
				display: flex;
				align-items: center;
			}

			&-arrow {
				width: 18px;
				height: 18px;
			}

			&-link {
				font-size: 0.875rem;
				background-color: var(--button-color);
				padding: 2px 4px;
				border-radius: 5px;
			}
		}
	}
}

@media screen and (max-width: 576px) {
	.services {
		&__list {
			grid-template-columns: repeat(1, 1fr);
			grid-template-rows: repeat(1, 1fr);
		}
	}
}
