:root {
	--title-text-color: #3a3a3a;
	--main-text-color: #6a6a6a;
	--secondary-text-color: #d3d3d3;
	--accent-color: #f6f9fc;
	--button-color: #ffef00;
	--link-bg: rgb(255, 213, 0);
	--duration: 250ms;
	--speed: cubic-bezier(0.4, 0, 0.2, 1);
}
